Source: qts3browser
Section: misc
Priority: optional
Maintainer: Artur Fogiel <arturprojekty1988@gmail.com>
Build-Depends:
 qt-everywhere,
 amazon-s3-cpp-sdk
 fonts-dejavu
Homepage: https://github.com/arturfog/qtS3Browser

Package: qts3browser
Section: misc
Architecture: any
Depends:
 qt-everywhere,
 amazon-s3-cpp-sdk
 fonts-dejavu
Description: Amazon S3 client, writen in C++/QT
