Source: qts3browser
Section: misc
Priority: optional
Maintainer: Artur Fogiel <arturprojekty1988@gmail.com>
Build-Depends:
 qt-everywhere,
 amazon-s3-cpp-sdk,
 fonts-dejavu-core
Homepage: https://github.com/arturfog/qtS3Browser

Package: qts3browser
Section: misc
Architecture: amd64
Depends:
 qt-everywhere,
 amazon-s3-cpp-sdk,
 fonts-dejavu-core
Description: Amazon S3 client, writen in C++/QT
