[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=qtS3Browser
Comment=Amazon S3 browser written in QT
Icon=$SNAP/usr/share/icons/s3browser.png
Exec=desktop-launch $SNAP/opt/s3browser/bin/s3browser
Terminal=false
